In [1]:
import csv
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.by import By

In [2]:

browser = webdriver.Chrome()
browser.maximize_window() # 창 최대화
#browser.set_window_size(400,600)

category = ['음식료품', '섬유의복', '종이목재', '화학', '의약품', '비금속광물', '철강금속', '기계',
       '전기전자', '의료정밀', '운수장비', '유통업', '전기가스업', '건설업', '운수창고', '통신업', '금융업',
       '은행', '증권', '보험', '서비스업']

# 1. 페이지 이동
url = 'https://finance.daum.net/domestic/sectors'
browser.get(url)
time.sleep(1)

name_result = []
preice_result = []
day_result = []


# 2. 업종으로 이동
for i in range(0,21): 
    click1 = browser.find_element(By.LINK_TEXT, category[i])
    click1.click()
    time.sleep(1)

    # 3. 업종, 날짜, 주가 데이터 확보
    name = browser.find_element(By.XPATH, '//*[@id="labTitle"]').text
    price = browser.find_element(By.XPATH, '//*[@id="boxDashboard"]/div/div/span[1]/strong').text
    day = browser.find_element(By.XPATH, '//*[@id="boxMarketStatus"]').text
    name = name[0:len(category[i])]
    day = day[0:5]


    name_result.append(name)
    preice_result.append(price)
    day_result.append(day)


    browser.back() # 뒤로가기
    time.sleep(1)

# 4. 



# 브라우저 종료
#browser.quit()

In [3]:
pd.DataFrame(name_result).T

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,음식료품,섬유의복,종이목재,화학,의약품,비금속광물,철강금속,기계,전기전자,의료정밀,...,유통업,전기가스업,건설업,운수창고,통신업,금융업,은행,증권,보험,서비스업

In [4]:
pd.DataFrame(preice_result, index = category).T

,음식료품,섬유의복,종이목재,화학,의약품,비금속광물,철강금속,기계,전기전자,의료정밀,...,유통업,전기가스업,건설업,운수창고,통신업,금융업,은행,증권,보험,서비스업
0,"3,615.51",370.11,346.37,"4,994.33","13,639.57","2,660.32","4,374.76",901.47,"22,362.55","2,058.71",...,331.76,785.87,77.64,"1,606.61",372.13,360.71,129.83,"1,641.27","14,689.79","1,116.33"

In [5]:
float(preice_result[0].replace(',',""))

3615.51